@page
@model MobileGnollHackLogger.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Information";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<hr class="separator" />
<h2 class="text-center">Email</h2>
<p class="text-center"><a href="mailto:gnollhack@hyvanmielenpelit.fi">gnollhack@hyvanmielenpelit.fi</a></p>
<h2 class="text-center">Discord</h2>
<p class="text-center"><a href="https://discord.gg/cQuExnzUQy">https://discord.gg/cQuExnzUQy</a></p>
