@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GnollHack Account</h1>
    <h5>Bridge Between Mobile GnollHack Clients and NetHack Scoreboard </h5>
    <hr class="separator" />
    
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h5 style="margin-bottom:40px;">Thank you for registering a GnollHack account!</h5>
        <h1>Now The Last Step</h1>
    }
    else
    {
        <h2>Getting Started</h2>
        <p>
            To make games played on mobile GnollHack clients to register to
            <a href="https://nethackscoreboard.org/">NetHack Scoreboard</a>, please take the following steps:
        </p>
        <h3>1. Create Account</h3>
        <p>Create an account on this site and <a href="/Identity/Account/Register">register a user name</a> that you want to be displayed on NetHack Scoreboard.</p>
        
        
    }
    <h3>2. Enter Credentials to the Mobile App</h3>
    <p>Enter the credentials to the GnollHack mobile app.</p>
    <p class="task-list">
        1. Open Settings<br />
       2. Enter your <em>User Name</em> and <em>Password</em> to <em>Account Credentials</em>.
    </p>
</div>
