@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">GnollHack Account</h1>
    <h4 class="fw-light">Community Server for GnollHack</h4>
    <p class="fw-light">Top Score Recording &bull; Bones Sharing &bull; NetHack Scoreboard Support &bull; Junethack Support &bull; Statistics</p>
    <hr class="separator" />
    
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h5 style="margin-bottom:40px;">Thank you for registering a GnollHack account!</h5>
        <h1>Now The Last Step</h1>
    }
    else
    {
        <h2>Getting Started</h2>
        <h3>Create GnollHack Account</h3>
        <div class="task-list">
            <ol>
                <li>Create an account on this site by <a href="/Identity/Account/Register">registering a user name</a>.</li>
            </ol>            
        </div>
    }
    <h3>Enter Credentials to the App</h3>
    <div class="task-list">
        <ol>
            <li>Go to <em>Settings</em>.</li>
            <li>Locate the <em>Server Posting</em> section.</li>
            <li>Enter your <em>User Name</em> and <em>Password</em> to the respective fields.</li>
            <li>Enable <em>Post Top Scores</em> and/or <em>Post Bones Files</em>.</li>
        </ol>
    </div>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <p style="font-style:italic;">(If you have already entered the credentials to the app, you can ignore these instructions.)</p>
    }
</div>
