@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GnollHack Account</h1>
    <h5>Bridge Between Mobile GnollHack Client and NetHack Scoreboard</h5>
    <hr class="separator" />
    
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h5 style="margin-bottom:40px;">Thank you for registering a GnollHack account!</h5>
        <h1>Now The Last Step</h1>
    }
    else
    {
        <h2>Getting Started</h2>
        <p>
            To make games played on mobile GnollHack clients to register to
            <a href="https://nethackscoreboard.org/">NetHack Scoreboard</a>, please take the following steps:
        </p>
        <h3>1. Create Account</h3>
        <p>Create an account on this site and <a href="/Identity/Account/Register">register a user name</a> that you want to be displayed on NetHack Scoreboard.</p>
        
        
    }
    <h3>2. Enter Credentials to the Mobile App</h3>
    <p>Enter the credentials to the GnollHack mobile app.</p>
    <p class="task-list">
        2.1. Go to Settings.<br />
        2.2. Locate the <em>Post Top Scores</em> section.<br />
        2.3. Enter your <em>User Name</em> and <em>Password</em> to the respective fields.
    </p>

    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <p style="font-style:italic;">(If you have already entered the credentials to the mobile app, you can ignore these instructions.)</p>
    }
</div>
