@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<hr class="separator" />

<h2 class="text-center">GnollHack Wiki</h2>
<p class="text-center"><a href="https://github.com/hyvanmielenpelit/GnollHack/wiki/GnollHack-Account-Privacy-Policy">GnollHack Account Privacy Policy</a></p>
