@page
@inject IConfiguration Configuration
@inject IWebHostEnvironment WebHostEnvironment
@model MobileGnollHackLogger.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <form action="/xlogfile" method="post" enctype="multipart/form-data">
        <h2>Send Post</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input name="UserName" asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="bob" />
            <label asp-for="Input.UserName" class="form-label">User Name</label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="Email" asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="email" />
            <label asp-for="Input.Email" class="form-label">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="Password" type="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" class="form-label">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="XLogEntry" asp-for="Input.XLogEntry" class="form-control" autocomplete="" aria-required="true" placeholder="xlogentry"
                   value="version=4.1.3	points=114000	deathdnum=1	deathlev=35	maxlvl=35	hp=0	maxhp=322	deaths=1	deathdate=20231129	birthdate=20231127	uid=5	role=Mon	race=Hum	gender=Mal	align=Law	name=Heliokopis	death=killed by Orcus	while=praying	conduct=0x904	turns=33991	achieve=0xaf0e03	achieveX=obtained_the_bell_of_opening,entered_gehennom,obtained_the_luckstone_from_the_mines,obtained_the_sokoban_prize,defeated_medusa,entered_the_gnomish_mines,entered_mine_town,entered_a_shop,entered_a_temple,entered_bigroom,entered_large_circular_dungeon	conductX=vegetarian,polyselfless,genocideless	realtime=86192	starttime=1701125825	endtime=1701316358	gender0=Mal	align0=Law	flags=0x0	difficulty=0	mode=normal	scoring=yes" />
            <label asp-for="Input.XLogEntry" class="form-label">XLogFile Entry</label>
            <span asp-validation-for="Input.XLogEntry" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="PlainTextDumpLog" asp-for="Input.PlainTextDumpLog" class="form-control" aria-required="true" type="file" />
            <label asp-for="Input.PlainTextDumpLog" class="form-label">Plain Text Dump Log File</label>
            <span asp-validation-for="Input.PlainTextDumpLog" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="HtmlDumpLog" asp-for="Input.HtmlDumpLog" class="form-control" aria-required="true" type="file" />
            <label asp-for="Input.HtmlDumpLog" class="form-label">Html Dump Log File</label>
            <span asp-validation-for="Input.HtmlDumpLog" class="text-danger"></span>
        </div>
        @if(WebHostEnvironment.IsDevelopment())
        {
            <input name="AntiForgeryToken" asp-for="Input.AntiForgeryToken" class="form-control" aria-required="true" type="hidden" value="@Configuration["AntiForgeryToken"]" />
        }
        <button type="sumbit" value="submit">Test</button>
    </form>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>