@page
@model MobileGnollHackLogger.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Test</h1>
    <form action="/xlogfile" method="post" enctype="multipart/form-data">
        <h2>Send Post</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input name="UserName" asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="bob" />
            <label asp-for="Input.UserName" class="form-label">User Name</label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="Email" asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="email" />
            <label asp-for="Input.Email" class="form-label">Email</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="Password" type="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password" class="form-label">Password</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="XLogEntry" asp-for="Input.XLogEntry" class="form-control" autocomplete="" aria-required="true" placeholder="xlogentry" />
            <label asp-for="Input.XLogEntry" class="form-label">XLogFile Entry</label>
            <span asp-validation-for="Input.XLogEntry" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="PlainTextDumpLog" asp-for="Input.PlainTextDumpLog" class="form-control" aria-required="true" type="file" />
            <label asp-for="Input.PlainTextDumpLog" class="form-label">Plain Text Dump Log File</label>
            <span asp-validation-for="Input.PlainTextDumpLog" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input name="HtmlDumpLog" asp-for="Input.HtmlDumpLog" class="form-control" aria-required="true" type="file" />
            <label asp-for="Input.HtmlDumpLog" class="form-label">Html Dump Log File</label>
            <span asp-validation-for="Input.HtmlDumpLog" class="text-danger"></span>
        </div>
        <input name="AntiForgeryToken" asp-for="Input.AntiForgeryToken" class="form-control" aria-required="true" type="hidden" value="AFT" />
        <button type="sumbit" value="submit">Test</button>
    </form>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>