$font-color: white;
$link-color: #ded18b;
$font-em-color: $link-color;

body {
    margin-bottom: 60px;
    color: white;
    background-color: black;
    background-image: url(/img/gnoll-illustration-w1920-q30.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    &.navbar a, &.navbar button {
        color: white !important;

        &:hover {
            color: #ddd !important;
        }
    }

    &.border-bottom {
        color: white !important;
        background: #111 !important;
        border-bottom-color: black !important;
    }
}

main {
    background: #111;
    border: white;
    border-radius: 10px;
    padding: 15px 15px 30px 15px;
    max-width: 1000px;
    margin: 30px auto;
    box-shadow: 0px 0px 20px 20px black;
}

footer {
    background: #111;

    &.border-top {
        color: white !important;
        border-top-color: black !important;
    }
}

a {
    color: $link-color;

    &:hover {
        color: darken($link-color, 20%);
    }
}

input.form-control {
    color: white;
    background: #222;

    &:focus {
        color: white !important;
        background: #222 !important;
    }

    &:disabled {
        color: #ccc !important;
        background: #444 !important;
    }
}

.center-box {
    margin: 0 auto;
    max-width: 600px;
}

a.nav-link {
    color: #ded18b;

    &:hover {
        color: #ded18b;
    }
}

hr.separator {
    margin: 30px 10px;
}

.task-list {
    font-weight: bold;

    em {
        /*text-decoration:underline;*/
        /*font-variant:small-caps;*/
        font-style: normal;
        color: $font-em-color;
    }
}

.navbar-toggler-icon {
    font-size: 12px;
}

.page-item {
    a.page-link {
        background-color: rgb(33, 37, 41) !important;
        border-color: #444 !important;
    }

    &.disabled {

    }
}

select.form-select {
    background-color: rgb(33, 37, 41) !important;
    color: white;
    border-color: #ddd !important;
}

#topScoreTable {
    > tbody > tr > td {
        cursor: pointer;
    }
}

div.container.topScoreMaxWidth {
    max-width: 1500px;

    main.topScoreMaxWidth {
        max-width: 1500px;
    }
}

.w-xs
{
    width:5%;
}
.w-s
{
    width:10%;
}
.w-m {
    width: 15%;
}
.w-l {
    width: 20%;
}
.w-xl {
    width: 25%;
}