body {
  margin-bottom: 60px;
  color: white;
  background-color: black;
  background-image: url(/img/gnoll-illustration-w1920-q30.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav.navbar a, nav.navbar button {
  color: white !important;
}
nav.navbar a:hover, nav.navbar button:hover {
  color: #ddd !important;
}
nav.border-bottom {
  color: white !important;
  background: #111 !important;
  border-bottom-color: black !important;
}

main {
  background: #111;
  border: white;
  border-radius: 10px;
  padding: 15px 15px 30px 15px;
  max-width: 1000px;
  margin: 30px auto;
  box-shadow: 0px 0px 20px 20px black;
}

footer {
  background: #111;
}
footer.border-top {
  color: white !important;
  border-top-color: black !important;
}

a {
  color: #ded18b;
}
a:hover {
  color: #c7b23c;
}

input.form-control {
  color: white;
  background: #222;
}
input.form-control:focus {
  color: white !important;
  background: #222 !important;
}
input.form-control:disabled {
  color: #ccc !important;
  background: #444 !important;
}

.center-box {
  margin: 0 auto;
  max-width: 600px;
}

a.nav-link {
  color: #ded18b;
}
a.nav-link:hover {
  color: #ded18b;
}

hr.separator {
  margin: 30px 10px;
}

.task-list {
  font-weight: bold;
}
.task-list em {
  /*text-decoration:underline;*/
  /*font-variant:small-caps;*/
  font-style: normal;
  color: #ded18b;
}

.navbar-toggler-icon {
  font-size: 12px;
}

.page-item a.page-link {
  background-color: rgb(33, 37, 41) !important;
  border-color: #444 !important;
}
select.form-select {
  background-color: rgb(33, 37, 41) !important;
  color: white;
  border-color: #ddd !important;
}

#topScoreTable > tbody > tr > td {
  cursor: pointer;
}
