@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="login-box manage-login-box">
    <form id="change-password-form" method="post" class="login-form disable-button-on-submit">
        <div class="login-form-inner">
            <div class="login-header text-center">
                <h3 class="hero-title">@ViewData["Title"]</h3>
                <div class="ornament"></div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="input-group mb-4 login-input-group">
                <span class="input-group-text" title="Old password"><i class="bi bi-lock-fill"></i></span>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Old password" title="Old password" />
            </div>
            <span asp-validation-for="Input.OldPassword" class="text-danger mb-3 d-block"></span>

            <div class="input-group mb-4 login-input-group">
                <span class="input-group-text" title="New password"><i class="bi bi-key-fill"></i></span>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="New password" title="New password" />
            </div>
            <span asp-validation-for="Input.NewPassword" class="text-danger mb-3 d-block"></span>

            <div class="input-group mb-4 login-input-group">
                <span class="input-group-text" title="Confirm new password"><i class="bi bi-key-fill"></i></span>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm new password" title="Confirm new password" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger mb-3 d-block"></span>

            <div class="login-button-container mb-3 mt-4">
                <button type="submit" class="btn btn-fantasy-login w-100">
                    <span>UPDATE PASSWORD</span>
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
