@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="login-box manage-login-box">
    <form id="profile-form" method="post" class="login-form disable-button-on-submit">
        <div class="login-form-inner">
            <div class="login-header text-center">
                <h3 class="hero-title">@ViewData["Title"]</h3>
                <div class="ornament"></div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="input-group mb-4 login-input-group">
                <span class="input-group-text" title="Username"><i class="bi bi-person-fill"></i></span>
                <input asp-for="Username" class="form-control" placeholder="Username" title="Username" disabled />
            </div>
            
            <div class="input-group mb-4 login-input-group">
                <span class="input-group-text" title="Phone number"><i class="bi bi-telephone-fill"></i></span>
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone number" title="Phone number" />
            </div>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger mb-3 d-block"></span>

            <div class="login-button-container mb-3 mt-4">
                <button id="update-profile-button" type="submit" class="btn btn-fantasy-login w-100">
                    <span>SAVE</span>
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
