<div class="login-container gh-main-container">
  <h2>GnollHack Overseer</h2>
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" class="gh-input" [(ngModel)]="username" name="username" required aria-errormessage="username-error" />
      <div id="username-error" class="error-msg">
        <span aria-hidden="true">❌</span> Username is required.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="gh-input" [(ngModel)]="password" name="password" required aria-errormessage="password-error" />
      <div id="password-error" class="error-msg">
        <span aria-hidden="true">❌</span> Password is required.
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="btn-gh" [disabled]="loading">Login</button>
    </div>
    <div class="register-link">
      <a href="https://account.gnollhack.com/Identity/Account/Register">Register a GnollHack Account</a>
    </div>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>
